Import von Bibliotheken

In [1]:
import pandas as pd
import numpy as np
import pyreadstat 
from sas7bdat import SAS7BDAT

 `sas7bdat` einlesen und als neues Dokument speichern

Viele n√ºtzliche Tipps habe ich hier entnommen: https://freesoft.dev/program/145536189

##### Daten von 2018

Die Links zu Daten sind in README-Datei.

In [2]:
df, meta = pyreadstat.read_sas7bdat('cy07_msu_stu_qqq.sas7bdat', catalog_file='CY07MSU_FMT_STU_QQQ.SAS7BCAT', formats_as_category=True, encoding="UTF-8")
df

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PV4RTML,PV5RTML,PV6RTML,PV7RTML,PV8RTML,PV9RTML,PV10RTML,SENWT,VER_DAT,i
0,8.0,ALB,800115.0,800001.0,07MS,000800,ALB0107,0080000,0.0,2.0,...,325.281,370.041,358.524,345.833,380.064,357.376,385.496,0.48064,09MAY19:11:20:53,31.0
1,8.0,ALB,800300.0,800002.0,07MS,000800,ALB0105,0080000,0.0,2.0,...,337.259,294.530,325.444,367.058,333.356,367.616,334.448,1.30666,09MAY19:11:20:54,31.0
2,8.0,ALB,800088.0,800003.0,07MS,000800,ALB0101,0080000,0.0,2.0,...,297.929,269.282,293.719,314.027,295.519,283.143,315.992,0.67391,09MAY19:11:20:54,31.0
3,8.0,ALB,800014.0,800004.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,349.369,333.416,320.410,388.597,324.419,372.543,355.213,0.68250,09MAY19:11:20:53,31.0
4,8.0,ALB,800294.0,800005.0,07MS,000800,ALB0203,0080000,0.0,2.0,...,461.508,464.534,461.681,455.574,430.815,476.752,482.148,0.63579,09MAY19:11:20:53,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611999,983.0,QRT,98300553.0,98329092.0,07MS,064300,QRT8787,9830000,0.0,2.0,...,462.153,531.441,477.917,485.898,494.514,472.717,511.955,0.75437,01MAY19:20:23:24,31.0
612000,983.0,QRT,98300772.0,98329094.0,07MS,064300,QRT8787,9830000,0.0,2.0,...,699.966,663.397,698.064,713.841,654.645,673.390,637.977,0.74374,01MAY19:20:23:26,31.0
612001,983.0,QRT,98300786.0,98329104.0,07MS,064300,QRT8787,9830000,0.0,2.0,...,464.194,419.584,452.556,359.791,408.793,421.102,474.580,0.80152,01MAY19:20:23:26,31.0
612002,983.0,QRT,98300741.0,98329116.0,07MS,064300,QRT8787,9830000,0.0,2.0,...,313.494,359.489,334.815,321.417,351.288,328.455,354.408,0.73760,01MAY19:20:23:25,31.0
612003,983.0,QRT,98300060.0,98329122.0,07MS,064300,QRT8787,9830000,0.0,2.0,...,559.340,582.570,586.481,527.076,534.722,499.766,572.158,0.65150,01MAY19:20:23:26,31.0

In [3]:
columns = meta.column_names_to_labels # ich lese die Erl√§uterungen f√ºr die Spalten ein
columns['CNT']

'Country code 3-character'

In [4]:
#Auskommentieren, um alle 1119 Spalten-Erl√§uterungen zu lesen:
#columns

In [5]:
"""Ich selektiere die Spalten, die ich f√ºr meine Analyse brauchen k√∂nnte"""

columns_list = ['CNT', 'CNTSTUID', 'ST004D01T', 'ST005Q01TA',\
                'ST006Q01TA', 'ST006Q02TA', 'ST006Q03TA', 'ST006Q04TA', 'ST007Q01TA', 'ST008Q01TA', 'ST008Q02TA',\
                'ST008Q03TA', 'ST008Q04TA', 'IC002Q01HA', 'IC004Q01HA',\
                'ENTUSE', 'IC008Q01TA', 'IC008Q02TA', 'IC008Q03TA', 'IC008Q04TA', 'IC008Q05TA',\
                'IC008Q07NA', 'IC008Q08TA', 'IC008Q09TA', 'IC008Q10TA', 'IC008Q11TA', 'IC008Q12TA', 'IC008Q13NA',\
                'HOMESCH', 'IC010Q01TA', 'IC010Q02NA', 'IC010Q03TA', 'IC010Q04TA', 'IC010Q05NA', 'IC010Q06NA',\
                'IC010Q07TA', 'IC010Q08TA', 'IC010Q09NA', 'IC010Q10NA', 'IC010Q11HA', 'IC010Q12HA',\
                'USESCH', 'IC011Q01TA', 'IC011Q02TA', 'IC011Q03TA', 'IC011Q04TA', 'IC011Q05TA', 'IC011Q06TA',\
                'IC011Q07TA', 'IC011Q08TA', 'IC011Q09TA',\
                'INTICT', 'IC013Q01NA', 'IC013Q04NA', 'IC013Q05NA', 'IC013Q11NA', 'IC013Q12NA', 'IC013Q13NA',\
                'COMPICT', 'IC014Q03NA', 'IC014Q04NA', 'IC014Q06NA', 'IC014Q08NA', 'IC014Q09NA', \
                'AUTICT', 'IC015Q02NA', 'IC015Q03NA', 'IC015Q05NA', 'IC015Q07NA', 'IC015Q09NA',\
                'SOIAICT', 'IC016Q01NA', 'IC016Q02NA', 'IC016Q04NA', 'IC016Q05NA', 'IC016Q07NA', 'ICTRES',\
                'MISCED', 'FISCED', 'HISCED', 'HISEI', 'PARED', 'HOMEPOS', 'HEDRES', 'CULTPOSS', 'WEALTH', 'ESCS', \
                'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',\
                'PV6MATH', 'PV7MATH', 'PV8MATH', 'PV9MATH', 'PV10MATH', 'PV1READ', 'PV2READ', 'PV3READ','PV4READ',\
                'PV5READ', 'PV6READ', 'PV7READ', 'PV8READ', 'PV9READ', 'PV10READ', 'PV1SCIE', 'PV2SCIE',\
                'PV3SCIE', 'PV4SCIE', 'PV5SCIE', 'PV6SCIE', 'PV7SCIE', 'PV8SCIE', 'PV9SCIE', 'PV10SCIE']

In [6]:
""" Ich erstelle einen neuen DataFrame mit ausselektierten Spalten """

df_it_18 = df[columns_list] 
df_it_18

,CNT,CNTSTUID,ST004D01T,ST005Q01TA,ST006Q01TA,ST006Q02TA,ST006Q03TA,ST006Q04TA,ST007Q01TA,ST008Q01TA,...,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,PV6SCIE,PV7SCIE,PV8SCIE,PV9SCIE,PV10SCIE
0,ALB,800001.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,...,390.471,363.896,394.451,405.479,309.142,356.123,387.410,421.957,375.945,383.357
1,ALB,800002.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,...,336.318,331.444,311.961,374.377,300.209,343.909,338.622,362.539,299.426,235.952
2,ALB,800003.0,2.0,3.0,2.0,1.0,1.0,2.0,3.0,2.0,...,334.669,326.045,331.331,364.414,285.723,383.883,310.549,308.666,360.635,326.120
3,ALB,800004.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,344.094,371.352,313.157,366.221,377.494,375.595,355.207,359.538,359.640,324.731
4,ALB,800005.0,1.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0,...,445.335,466.726,452.740,401.497,481.526,425.924,459.286,465.062,455.885,451.672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611999,QRT,98329092.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,...,452.303,451.902,449.829,446.977,467.815,443.497,448.151,468.910,451.039,457.704
612000,QRT,98329094.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,...,661.860,669.624,617.892,659.689,630.667,656.111,715.919,615.311,621.503,632.207
612001,QRT,98329104.0,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2.0,...,344.833,444.303,392.898,414.349,432.541,460.006,432.570,407.413,450.343,370.131
612002,QRT,98329116.0,2.0,2.0,NaN,1.0,NaN,1.0,2.0,NaN,...,385.401,373.687,354.713,348.668,373.393,421.164,331.324,384.195,282.698,389.537
612003,QRT,98329122.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,...,468.266,450.664,461.989,452.958,480.296,520.131,489.478,456.353,438.983,450.190

In [7]:
""" Speichere der gek√ºrzten DataFrame als csv-Datei zur sp√§teren Verwendung  """

df_it_18.to_csv('pisa_it_18.csv')

##### Daten von 2015
Links sind in README-Datei.

In [8]:
df_15, meta_15 = pyreadstat.read_sav('CY6_MS_CMB_STU_QQQ.sav')

In [9]:
df_15

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,Region,STRATUM,SUBNATIO,OECD,...,PV3SSES,PV4SSES,PV5SSES,PV6SSES,PV7SSES,PV8SSES,PV9SSES,PV10SSES,SENWT,VER_DAT
0,8.0,ALB,800001.0,803627.0,06MS,000800,800.0,ALB0005,0080000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18100,15NOV16:10:10:29
1,8.0,ALB,800001.0,800454.0,06MS,000800,800.0,ALB0005,0080000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18100,15NOV16:10:10:29
2,8.0,ALB,800001.0,800893.0,06MS,000800,800.0,ALB0005,0080000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18100,15NOV16:10:10:29
3,8.0,ALB,800001.0,804180.0,06MS,000800,800.0,ALB0005,0080000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18100,15NOV16:10:10:29
4,8.0,ALB,800001.0,800491.0,06MS,000800,800.0,ALB0005,0080000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18100,15NOV16:10:10:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519329,974.0,QAR,97400238.0,97404172.0,06MS,003200,3201.0,ARG0101,0320100,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15009,15NOV16:10:17:00
519330,974.0,QAR,97400238.0,97406046.0,06MS,003200,3201.0,ARG0101,0320100,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15009,15NOV16:10:17:00
519331,974.0,QAR,97400238.0,97404326.0,06MS,003200,3201.0,ARG0101,0320100,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15009,15NOV16:10:17:00
519332,974.0,QAR,97400238.0,97401708.0,06MS,003200,3201.0,ARG0101,0320100,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15009,15NOV16:10:17:00
519333,974.0,QAR,97400238.0,97407000.0,06MS,003200,3201.0,ARG0101,0320100,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15009,15NOV16:10:17:00

In [10]:
columns_15 = meta_15.column_names_to_labels
columns_15['IC003Q01TA']

'How old were you when you first used a computer?'

In [12]:
""" Ich m√∂chte die gleichen Spalten wie im Jahre 2018 ausselektieren """
#df_kurz_15 = df_15[columns_list]
#df_kurz_15

' Ich m√∂chte die gleichen Spalten wie im Jahre 2018 ausselektieren '


Beim Ausf√ºhren sehe ich, dass einige Spalten fehlen: 'HISEI', 'IC010Q12HA', 'IC004Q01HA', 'IC010Q11HA', 'IC002Q01HA'. Ich suche die Codeb√ºcher durch und stelle fest, dass die Spalten aus dem Jahre 2015 entweder anders genannt  wurden ('HISEI', 'IC004Q01HA', 'IC002Q01HA') oder fehlen ('IC010Q11HA','IC010Q12HA'). Bez√ºglich des Nutzens von digitalen Ger√§ten im Jahre 2015 wurde noch zus√§tzlich das Alter beim ersten Zugang zum Computer abgefragt:

'IC003Q01TA': 'How old were you when you first used a computer?'

was aus meiner Sicht auch zu digitalen Ger√§ten z√§hlen kann.

In [15]:
columns_list_15 = columns_list.copy()
columns_list_15.remove('HISEI')  # l√∂sche die Spaltennamen, die nicht in Daten von 2015 sind
columns_list_15.remove('IC010Q12HA')
columns_list_15.remove('IC004Q01HA')
columns_list_15.remove('IC010Q11HA')
columns_list_15.remove('IC002Q01HA')

extend_list = ['hisei', 'IC002Q01NA', 'IC003Q01TA', 'IC004Q01TA'] # die Spaltennamen, wie sie in Daten 2015 sind
columns_list_15.extend(extend_list) # f√ºge die fehlenden Spaltennamen hinzu
#columns_list_15

In [16]:
df_kurz_15 = df_15[columns_list_15]
df_kurz_15

,CNT,CNTSTUID,ST004D01T,ST005Q01TA,ST006Q01TA,ST006Q02TA,ST006Q03TA,ST006Q04TA,ST007Q01TA,ST008Q01TA,...,PV5SCIE,PV6SCIE,PV7SCIE,PV8SCIE,PV9SCIE,PV10SCIE,hisei,IC002Q01NA,IC003Q01TA,IC004Q01TA
0,ALB,803627.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,519.208,463.128,543.640,459.159,461.522,499.540,NaN,NaN,NaN,NaN
1,ALB,800454.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,437.558,478.770,494.996,499.377,510.158,471.167,NaN,NaN,NaN,NaN
2,ALB,800893.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,415.724,435.887,425.362,474.415,407.678,462.279,NaN,NaN,NaN,NaN
3,ALB,804180.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,434.318,431.472,392.688,416.805,421.642,404.352,NaN,NaN,NaN,NaN
4,ALB,800491.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,427.242,386.204,459.435,381.835,367.871,440.709,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519329,QAR,97404172.0,2.0,1.0,2.0,1.0,2.0,NaN,1.0,1.0,...,481.695,474.336,471.168,473.762,452.362,487.817,81.0,NaN,NaN,NaN
519330,QAR,97406046.0,2.0,1.0,2.0,2.0,2.0,NaN,1.0,2.0,...,514.266,516.805,538.503,561.281,554.203,584.669,62.0,NaN,NaN,NaN
519331,QAR,97404326.0,2.0,3.0,2.0,2.0,2.0,NaN,1.0,2.0,...,516.125,589.567,550.492,504.211,531.854,581.060,NaN,NaN,NaN,NaN
519332,QAR,97401708.0,2.0,1.0,2.0,1.0,2.0,NaN,1.0,2.0,...,530.396,526.964,467.657,482.873,499.062,526.140,79.0,NaN,NaN,NaN
519333,QAR,97407000.0,2.0,1.0,2.0,1.0,2.0,NaN,3.0,2.0,...,610.560,598.172,616.088,638.706,606.216,550.410,82.0,NaN,NaN,NaN

In [17]:
df_kurz_15.to_csv('pisa_it_15.csv') # speichere der gek√ºrzter DataFrame als csv-Datei zur sp√§teren Verwendung

Jetzt kann ich mit neuen kleineren csv-Dateien im anderen Notebook arbeiten.